.user-list {
    font-family: Arial, sans-serif;
    margin: 2rem auto;
    width: 90%;
    max-width: 80rem;
}

.user-list table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
}

.user-list th,
.user-list td {
    border: 1px solid #ddd;
    text-align: left;
}

.user-list th,
.user-list td,
.user-list tr{
    transition-property: background;
    transition-duration: 0.3s;
}

.user-list th {
    background-color: #294b4d;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 30px rgba(0, 22, 23, 0.15);
}

.user-list tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-list tr:hover {
    background-color: #bec4c4;
}

/* Responsive design */

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
    .user-list table {
        font-size: 0.9rem;
    }

    .user-list table {
        display: flex;
        flex-direction: column;
    }

    .user-list thead {
        display: none;
    }

    .user-list tr {
        display: flex;
        flex-direction: column;
    }

    .user-list td {
        display: flex;
        flex-direction: column;
        padding: 0.6rem 1rem;
    }

    .user-list td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-bottom: 5px;
    }

    .user-list td[data-label="Name"] {
        background-color: #294b4d;
        font-weight: bold;
        color: white;
        padding: 1.3rem 1rem;
        text-shadow: 0 0 30px rgba(0, 22, 23, 0.15);
    }

    .user-list td:not([data-label="Name"])::before {
        content: attr(data-label) ": " ;
        font-weight: bold;
    }

    .user-list td[data-label="Name"]::before {
        content: none;
    }
}

/* Tablet (min-width: 769px) and (max-width: 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .user-list {
        width: 85%;
    }

    .user-list table {
        font-size: 0.85rem;
    }

    .user-list th, .user-list td {
        padding: 0.5rem 0.6rem;
    }

    .user-list table {
        overflow-x: auto;
    }
}

/* Desktop (min-width: 1025px) */
@media (min-width: 1025px) {
    .user-list table {
        font-size: 1.1rem;
    }
    .user-list th, .user-list td {
        padding: 0.7rem 1rem;
    }
}